<html>
  <%= image_tag 'logo.png' %>
  <h1>Here's the Form!</h1>
  <%= form_for @lbxids do |f| %>
    <p>
    <%= f.label :lbxids %><br>
    <%= f.text_area :lbxids %>
    </p>
    <p>
    <%= f.submit %>
    </p>
  <% end %>
</html>